* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'helvetica', serif;*/
    font-family: 'Open Sans Condensed', sans-serif;
}

html {
    background: rgba(0, 0, 0, 0) url(images/ContourBackgroundColor.png) no-repeat center top fixed;
    background-size: cover;
}

html::after {
    content: "";
    background: url(images/ContourBackgroundColor.png);
    opacity: 0.9;
}

body {
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
}


/*Nav Bar*/

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 24%;
}

nav a img {
    width: 78px;
    /*margin-top: 32px;*/
    padding-top: 7px;
    padding-left: 10px;
    position: relative;
    top: 25px;
    left: 46%;
    display: inline-block;
    z-index: 10;
}

nav div.appName {
    display: inline-block;
    width: 60%;
    margin-left: -65px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 5px;
    margin-top: 15px;
    letter-spacing: -3px;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

.active {
    background: #55929D;
    padding-bottom: 5px;
    width: 100%;
    margin-top: 0;
}

.overallMessage {
    margin: 0 auto;
    width: 40%;
    background-color: #55929D;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
    position: static;
    left: 100px;
}

h2 {
    background-color: white;
    padding: 10px;
    color: #55929D;
    text-align: center;
    font-size: 2rem
}

.funFact {
    font-size: 1.2rem;
}

strong {
    font-size: 1.5rem;
}

.pleaseConsider {
    font-size: 1.2rem;
    background-color: white;
    padding: 10px;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(217, 147, 81, 0.1), rgba(217, 147, 81, 0.5));
    /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(217, 147, 81, 0.1), rgba(217, 147, 81, 0.5));
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(217, 147, 81, 0.1), rgba(217, 147, 81, 0.5));
    /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(217, 147, 81, 0.1), rgba(217, 147, 81, 0.5));
    /*Standard*/
}

span {
    font-size: 1.5rem;
    font-weight: 900;
}

#highlight {
    font-size: 1.2rem;
    background-color: white;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(217, 147, 81, 0.1), rgba(217, 147, 81, 0.5));
    /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(217, 147, 81, 0.1), rgba(217, 147, 81, 0.5));
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(217, 147, 81, 0.1), rgba(217, 147, 81, 0.5));
    /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(217, 147, 81, 0.1), rgba(217, 147, 81, 0.5));
    /*Standard*/
}


/*Section*/

section.search-form {
    display: block;
    width: 50%;
    margin: 20% auto 0 auto;
    z-index: -1;
}


/*Search form*/

.textBox {
    border: 2px solid lightgray;
    width: 72%;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
}


/*search button*/

.searchButton {
    background-color: #c0392b;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}


/* Search Results*/

.result-section {
    margin-top: 100px;
}

.js-search-results ul {
    margin: 0 auto;
    width: 70%;
    list-style-type: none;
}

.js-search-results li {
    margin: 20px auto;
    width: 70%;
    height: 200px;
    text-align: left;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 5px;
    color: black;
    box-shadow: 5px 5px 5px #888888;
    background-color: white;
}

.js-search-results li div.event-display-name,
.js-search-results li div.event-details-city,
.js-search-results li div.event-details-button-wrapper,
.js-search-results li div.event-details-start-date,
.js-search-results li div.event-display-required-image {
    display: block;
    width: 90%;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.js-search-results li div.event-display-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.js-search-results li div.event-display-details {
    display: inline-block;
    width: 60%;
}

.js-search-results li div.event-details-start-date {
    display: none;
}

.js-search-results li div.event-details-venue {
    display: inline-block;
    width: 40%;
    float: right;
}

.event-details-button {
    background-color: #D99351;
    margin-top: 25px;
    margin-left: 5px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.event-details-button:hover {
    background-color: #FFC287;
}

.js-search-results li div.event-display-required-image {}

.song-kick {
    width: 40px;
    margin-top: 30px;
}

.resultsFound {
    color: #c0392b;
    text-transform: uppercase;
}


/*Media queries for 3 screen sizes*/

@media only screen and (max-width: 800px) {
    nav a img {
        left: 44%;
    }
    .overallMessage {
        width: 60%;
    }
    section.search-form {
        margin-top: 200px;
    }
    .js-search-results li {
        width: 70%;
    }
}

@media only screen and (max-width: 640px) {
    body {
        font-size: 12px;
    }
    nav img {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    nav a img {
        left: 42%;
    }
    nav {
        position: static;
    }
    .overallMessage {
        width: 70%;
    }
    h1 {
        font-size: 3rem;
    }
    nav div.appName {
        display: inline-block;
        width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    section.search-form {
        margin-top: 300px;
    }
    .js-search-results li {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    nav {
        position: static;
    }
    nav a img {
        left: 30%;
    }
    .overallMessage {
        width: 80%;
    }
    section.search-form {
        margin-top: 50px;
    }
    .search-bar {
        display: inline-block;
        width: 100%;
    }
    nav a.main-logo {
        display: block;
        width: 50%;
        margin: auto;
    }
    nav div.appName {
        display: block;
        width: 100%;
    }
    .js-search-results li div.event-display-name {
        font-size: 0.9rem;
    }
    .js-search-results li {
        width: 100%;
    }
}
