* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'helvetica', serif;*/
    font-family: 'Open Sans Condensed', sans-serif;
}

html {
    background: rgba(0, 0, 0, 0) url(images/ContourBackgroundColor.png) no-repeat center top fixed;
    background-size: cover;
}

html::after {
    content: "";
    background: url(images/ContourBackgroundColor.png);
    opacity: 0.9;
}

body {
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
}


/*Nav Bar*/

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav a img {
    width: 29%;
    margin-top: 32px;
    padding-top: 7px;
    padding-left: 10px;
    position: relative;
    top: 10px;
    left: 35%;
    display: inline-block;
}

nav div.appName {
    display: inline-block;
    width: 60%;
    margin-left: -95px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 5px;
    margin-top: 15px;
    letter-spacing: -3px;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

.active {
    background: #55929D;
    padding-bottom: 15px;
    width: 100%;
    margin-top: 0;
}


/*Section*/

section.search-form {
    display: block;
    width: 50%;
    margin: 20% auto 0 auto;
    z-index: -1;
}


/*Search form*/

.textBox {
    border: 2px solid lightgray;
    width: 72%;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
}


/*search button*/

.searchButton {
    background-color: #c0392b;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}


/*Search pop-up*/


/* The popup (background) */

.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* popup Content/Box */

.popup-content {
    background-color: white;
    color: black;
    font-size: 20px;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}


/*popup header and footer*/

.popup-header,
.popup-footer {
    padding: 2px 16px;
    background-color: #347986;
    color: white;
}


/*Pop-up body*/

.popup-body {
    padding: 2px 16px;
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Search Results*/

.result-section {
    margin-top: 100px;
}

.js-search-results ul {
    margin: 0 auto;
    width: 70%;
    list-style-type: none;
}

.js-search-results li {
    margin: 20px auto;
    width: 70%;
    height: 200px;
    text-align: left;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 5px;
    color: black;
    box-shadow: 5px 5px 5px #888888;
    background-color: white;
}

.js-search-results li div.event-display-name,
.js-search-results li div.event-details-city,
.js-search-results li div.event-details-button-wrapper,
.js-search-results li div.event-details-start-date,
.js-search-results li div.event-display-required-image {
    display: block;
    width: 90%;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.js-search-results li div.event-display-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.js-search-results li div.event-display-details {
    display: inline-block;
    width: 60%;
}

.js-search-results li div.event-details-start-date {
    display: none;
}

.js-search-results li div.event-details-venue {
    display: inline-block;
    width: 40%;
    float: right;
}

.event-details-button {
    background-color: #D99351;
    margin-top: 25px;
    margin-left: 5px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.event-details-button:hover {
    background-color: #FFC287;
}

.js-search-results li div.event-display-required-image {}

.song-kick {
    width: 40px;
    margin-top: 30px;
}


/*Media queries for 3 screen sizes*/

@media only screen and (max-width: 800px) {
    section.search-form {
        margin-top: 200px;
    }
    .js-search-results li {
        width: 70%;
    }
}

@media only screen and (max-width: 640px) {
    body {
        font-size: 12px;
    }
    nav img {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    h1 {
        font-size: 3rem;
    }
    nav div.appName {
        display: inline-block;
        width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    section.search-form {
        margin-top: 400px;
    }
    .js-search-results li {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    nav {
        position: static;
    }
    section.search-form {
        margin-top: 50px;
    }
    .search-bar {
        display: inline-block;
        width: 100%;
    }
    nav a.main-logo {
        display: block;
        width: 50%;
        margin: auto;
    }
    nav div.appName {
        display: block;
        width: 100%;
    }
    .js-search-results li div.event-display-name {
        font-size: 1rem;
    }
    .js-search-results li {
        width: 90%;
    }
}
